.input {
	padding: 14px;
	background: transparent;
	outline: none;
	border: none;
	color: var(--white);
	font-size: 14px;
	border: 1px solid var(--gray);
	border-radius: 8px;
	background: var(--bg-color);
}

.small {
	font-size: 16px;
	text-align: center;
	width: 58px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 8px !important;
}

@media screen and (max-width: 500px) {
	.small {
		width: 35px;
		height: 35px;
		padding: 10px;
	}

	.input {
		padding: 10px;
	}
}