.select {
	padding: 15px;
	background: var(--bg-dark);
	border: 1px solid var(--gray);
	border-radius: 8px;
	color: #fff;
	z-index: 10;
}

@media screen and (max-width:500px) {
	.select {
		padding: 8px 9px;
	}
}