.search {
	padding-left: 14px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #2D303E;
	border: 1px solid #393C49;
	border-radius: 8px;
}

.search>input {
	border: none;
	background: transparent;
}
.search>input:focus {
	
}
@media screen and (max-width:500px) {
	.search {
		display: none;
	}
 }