.setting_page {
	padding: 30px 24px 0 24px;
	width: 100%;
}

.content {
	display: flex;
	gap: 24px;

}

.title {
	font-weight: 600;
	font-size: 28px;
	line-height: 140%;
	padding-bottom: 24px;
}

.settings_options {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	background: var(--bg-dark);
	padding: 10px 0;

}


.content__right {
	background-color: var(--bg-dark);
	border-radius: 8px;
	padding: 34px 24px 24px 24px;
	width: 100%;
	height: 640px;
	z-index: 2;
	position: relative;
	overflow: scroll;
	
}

@media screen and (max-width:500px) {
	.content {
		flex-direction: column;
	}
	.content__right {
		height: auto;
	}
	.settings_options {
		
	}
}