@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

:root {
	--bg-color: rgba(37, 40, 54, 1);
	--bg-dark: #1F1D2B;
	--gray: #393C49;
	--primary: #EA7C69;
	--white: #ffffff;
	--text-light: #ABBBC2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: unset;
	text-decoration: none;
}

li {
	list-style-type: none;
}

body {
	font-family: 'Barlow', sans-serif;
	color: var(--white);
	background: var(--bg-color);
}

select {
	padding: 10px;
	background: var(--bg-dark);
	border: 1px solid var(--gray);
	border-radius: 8px;
	color: #fff;
	z-index: 10;
}

.container {
	max-width: 1580px;
	margin: 0 auto;
	display: flex;
	height: 100vh;

}
.loader {
	text-align: center;
}